<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入口</title>
    <script>
        function f(x){
            let num1 = document.querySelector("#num1");
            let num2 = document.querySelector("#num2");
            let result = document.querySelector("span")
            if(isNaN(num1.value)||isNaN(num2.value)){
               result.innerText = "输入有误"
               return;
            }
            switch (x){
                case 1:
                    result.innerText = num1.value*1+num2.value*1
                    break
                case 2:
                    result.innerText = num1.value-num2.value
                    break
                case 3:
                    result.innerText = num1.value*num2.value
                    break
                case 4:
                    result.innerText = num1.value/num2.value
                    break
            }
        }
    </script>
</head>
<body>
<input type="text" id="num1">
<input type="text" id="num2">
</br>
<input type="button" onclick="f(1)" value="加">
<input type="button" onclick="f(2)" value="减">
<input type="button" onclick="f(3)" value="乘">
<input type="button" onclick="f(4)" value="除">
</br>
<span>结果为:</span>
</body>
</html>