<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入口</title>
    <script>
function f(){
    let tr = document.createElement("tr")
    let td1 = document.createElement("td")
    let td2 = document.createElement("td")
    let td3 = document.createElement("td")
    td1.innerText = l1.value
    td2.innerText = l2.value
    td3.innerText = l3.value
    tr.append(td1,td2,td3)
    t1.append(tr)

}
    </script>
</head>
<body>
<input type="text" id="l1" value="姓名">
<input type="text" id="l2" value="工资">
<input type="text" id="l3" value="职位">
<input type="button" name="添加" value="添加" onclick="f()">
<table id="t1">
    <tr>
        <th>姓名</th>
        <th>工资</th>
        <th>职位</th>
    </tr>
</table>
</body>
</html>